<main class="login-container">
  <div class="login-card">
    <header >
      <span class="title">Login</span>
    </header>
    <section class="">
      <form class="" [formGroup]="loginForm">
        <div class="input-row">
            <div class="label">
              <label class="col-form-label" for="email">Email</label>
            </div>
            <div class="input-field">
              <input type="text" class="form-control" formControlName="email" id="email" placeholder="Enter your email"/>
            </div>
        </div>
        <div class="input-row">
            <div class="label">
              <label class="col-form-label" for="password">Password</label>
            </div>
            <div class="input-field">
              <input type="password" class="form-control" formControlName="password" id="password" placeholder="Enter your password" />
            </div>
        </div>

        <div>
            <button type="button" (click)="onSubmit()">Login</button>
        </div>
      </form>
    </section>
    <footer>
        <p>Don't have an account? <span (click)="toRegisterPage()">Register</span></p>
    </footer>
  </div>
</main>
